{# templates/comment/delete.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Delete Comment</h1>
    <p>Are you sure you want to delete this comment?</p>

    <form action="{{ path('comment_delete', {'recipe_id': comment.recipe.id, 'id': comment.id}) }}" method="post">
        {{ form_start(form) }}
        <button class="btn btn-outline-danger" type="submit">Yes, delete</button>
        <a class="btn btn-outline-primary" href="{{ path('recipe_show', {'id': comment.recipe.id}) }}">Cancel</a>
        {{ form_end(form) }}
    </form>
{% endblock %}
