{% extends 'base.html.twig' %}

{% block title %}Change User Password{% endblock %}

{% block body %}
    <h1>Change User Password</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Change Password</button>
    {{ form_end(form) }}
{% endblock %}
