{# templates/recipe/rate.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Rate Recipe{% endblock %}

{% block body %}
    <h1>Oceń przepis</h1>
    <p>Oceń przepis "{{ recipe.title }}"</p>
    {{ form_start(form) }}
    {{ form_row(form.value) }}
    <button type="submit" class="btn btn-primary">Dodaj ocenę</button>
    {{ form_end(form) }}
{% endblock %}
